body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: darkseagreen;
    padding: 20px 0;
}

.box {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #fefefe;
    text-decoration: underline;
}

.prod {
    width: 940px;
    margin: 0 auto; 
    padding: 50px 0;
}
.prod li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    /* como colocar bordas separadamente
    border-color: #000000;
    border-width: 2px;
    border-style: solid; */

    /*como colocar bordas juntas na ordem: width, style e color */
    border: 2px solid #000000;
    /*como fazer borda arredondada*/
    border-radius: 25px;
}

.prod li:hover {
    border-color: #fefefe;
    font-size: 40px;
}

.prod li:active {
    border-color: #088C19;
}

.prod li:hover h2 {
    font-size: 32px;
}
.prod h2 {
    font-size: 30px;
    font-weight: bold;
}

.prod-description {
    font-size: 18px; 
}

.prod-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url("imagens/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: aliceblue;
    font-size: 12px;
    margin: 20px 0 0;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

#caixa-form {
    height: 80%;
    width: 25%;
    font-size: 20px;
}

option {
    font-size: 20px;
}

.checkbox {
    margin: 20px 0;

}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: darkseagreen;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 2s all;
    cursor: pointer;
}

.enviar:hover {
    background: darkgreen;
    transform: scale(1.2);
}

table {
    margin: 20px 40px;
}

thead {
    background: darkseagreen;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #088C19;
    padding: 8px 15px;
}

.dias-alura {
    font-weight: bold;
    font-size: 16px;
    padding: 8px;
    text-align: justify;
}

@media screen and (max-width: 480px) {
    .box, footer {
        width: 100%;
        height: 100%;
    }

    h1 {
        width: auto;
        height: auto;
        text-align:inherit;
    }

   form {
    text-align: center;
    width: auto;
    height: auto;
    }

    label {
        text-align: center;
        width: auto;
        height: auto;
    }
    
    thead {
        max-width: 100%;
    }
}